{% extends 'base.html.twig' %}

{% block body %}
    <div id="root">
        <p style="padding: 20px;">Chargement de l'application... (Si ce message reste, vérifie ton build Webpack)</p>
    </div>
{% endblock %}